[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
python-dotenv = "*"
pypdf2 = "*"
python-docx = "*"
pycryptodome = "*"
langchain = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.10"
